<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orange Revie Search Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:200,300,400,500,700,800|Alegreya+Sans:300,400,500,700,800|Alegreya:400,500,700,800" rel="stylesheet">
  </head>
  <body>
    <header>
      <div>
        <%=image_tag("icon-logo-header.png", size: "23") %>
        Orange Review
      </div>
      <nav>
        <a href="#">Topics</a>
        <a href="#">Tags</a>
        <%=image_tag("icon-search-header.png", size: "14", alt: "Magnifying Glass", class: "head-magnify-black") %>
      </nav>
    </header>
  <section class="background-image-fullscreen">
    <section class="search-page-content-container">
      <div class="p-icon-search">
        <h2 class="h2-search-page">Search Orange Review
        </h2>
      </div>
      <label for="searchbar" class="search-page-label">By Keyword</label>
      <textarea placeholder="A Time Travel..." class="textarea-placeholder" name="searchbar"></textarea>
      <label for="searchtags" class="search-page-label">By Tag</label>
      <div class="search-border-top-container">
        <div class="search-border-top">
        </div>
      </div>
      <div class="button-hash-container-search">
        <button class="button-hash-search">#Travel</button>
        <button class="button-hash-search">#Personal</button>
        <button class="button-hash-search">#Food</button>
        <button class="button-hash-search">#Medical</button>
        <button class="button-hash-search">#Ocean</button>
        <button class="button-hash-search">#Flying</button>
        <button class="button-hash-search">#Safety</button>
        <button class="button-hash-search">#Deals</button>
      </div>
      <div>
        <button class="button-opaque-lg-txt button-noshadow">
          Search
        </button>
      </div>
    </section>
  </section>
  <footer>
    <div>
      <%=image_tag("icon-logo-header.png", size: "23", alt: "Orange Review Logo", class: "head-logo") %>
      Orange Review
    </div>
    <p class="footer-tagline">
      The Best Travel Tips
    </p>
    <h6 class="copyright">
      Copyright 2018, Build Carolina.
    </h6>
  </footer>
  </body>
</html>