
  <section class="background-image-fullscreen">
    <section class="search-page-content-container">
      <div class="p-icon-search">
        <h2 class="h2-search-page">Search Orange Review
        </h2>
      </div>
      <label for="searchbar" class="search-page-label">By Keyword</label>
      <textarea placeholder="A Time Travel..." class="textarea-placeholder" name="searchbar"></textarea>
      <label for="searchtags" class="search-page-label">By Tag</label>
      <div class="search-border-top-container">
        <div class="search-border-top">
        </div>
      </div>
      <div class="button-hash-container-search">
        <button class="button-hash-search">#Travel</button>
        <button class="button-hash-search">#Personal</button>
        <button class="button-hash-search">#Food</button>
        <button class="button-hash-search">#Medical</button>
        <button class="button-hash-search">#Ocean</button>
        <button class="button-hash-search">#Flying</button>
        <button class="button-hash-search">#Safety</button>
        <button class="button-hash-search">#Deals</button>
      </div>
      <div>
        <button class="button-opaque-lg-txt button-noshadow">
          Search
        </button>
      </div>
    </section>
  </section>